.reminderContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top:10%;
}

.reminderOuter{
    padding-top:80px;
    margin-left: 5%;
}

.remindBtn{
    border: none;
    outline-style: none;
    border-radius: 10px;
    padding: 10px;
    color: black;
    font-weight: 900;
    background-color: rgba(0, 0, 0, 0.3) !important;
    font-size: 20px;
}

.reminder{
    display: inline;
    text-align: center;
    width: 50%;
}

.reminder p{
    font-size: 20px;
}

@media only screen and (max-width: 1000px){
    .reminderContainer{
        flex-direction: column;
        justify-content: center;
    }

    .reminder{
        margin-top:10%;
        width: 80%;
    }
}