.hackersContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5%;
}
.hackerOuter{
    padding-top:80px;
}

.hackerInput{
    width:80%;
    margin-left: 5%;
    padding: .5em;
    border-radius:10px;
    border: none;
    outline-style: none;
    background-color: rgba(0, 0, 0, 0.5) !important;
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    color: white;
    font-weight: 500;
    margin-top:15px;
}

.hackerInput::placeholder{
    color:white
}

.hackerOuter h2{
    margin-left: 5%;
    margin-top:20px;
}

.allBtn{
    border: none;
    outline-style: none;
    border-radius: 10px;
    padding: 10px;
    color: black;
    font-weight: 900;
    background-color: rgba(0, 0, 0, 0.3) !important;
    font-size: 15px;
    margin-left: 5%;
    margin-bottom: 10px;
}

.searchBtn{
    border: none;
    outline-style: none;
    border-radius: 10px;
    padding: 10px;
    color: black;
    font-weight: 900;
    background-color: rgba(0, 0, 0, 0.3) !important;
    font-size: 15px;
    margin-left: 5%;
}

#loading{
    margin-left: 5%;
}

.react-paginate{
    margin-right:5%;
    display: flex;
    flex-wrap:wrap;
    /* background-color: red; */
    justify-content: center;
}

.react-paginate ul {
    padding-left: 15px;
    padding-right: 15px;
}

.react-paginate li {
    border: 1px solid grey;
    color: black;
    display: inline-block;
    padding: 8px 16px;
    margin:2px;
    text-decoration: none;
}

.react-paginate li.active {
   background-color: grey;
}

.react-paginate li:hover {
    background-color: lightgray;
 }
 .filters{
    margin-top: 10px;
    display: flex;
    align-items: center;
 }

 #accepted{
    border: 0.1em solid #000;
    border-radius: 0.2em;
    margin-left: 10px;
    width: .8em;
    height: .8em;
 }