.hackersContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.hackerOuter{
    padding-top:80px;
}

.hackerInput{
    width:80%;
    margin-left: 5%;
    padding: .5em;
    border-radius:10px;
    border: none;
    outline-style: none;
    background-color: rgba(0, 0, 0, 0.5) !important;
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    color: white;
    font-weight: 500;
    margin-top:15px;
}

.hackerInput::placeholder{
    color:white
}

.hackerOuter h2{
    margin-left: 5%;
    margin-top:20px;
}

.allBtn{
    border: none;
    outline-style: none;
    border-radius: 10px;
    padding: 10px;
    color: black;
    font-weight: 900;
    background-color: rgba(0, 0, 0, 0.3) !important;
    font-size: 15px;
    margin-left: 5%;
    margin-bottom: 10px;
}

#loading{
    margin-left: 5%;
}