.pre-reg-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #675C50;
}

.pre-reg-total-hackers {
    align-self: center;
}

.pre-reg {
    width: 100%;
    display: flex;
    padding: 5px!important;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}