.pre-reg-card-container {
    width: 17em;
    background-color: rgba(206, 188, 143, 0.4);
    border-radius: 10px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 10px;
}

.pre-reg-card-container ul {
    list-style: none;
    padding-inline-start: 15px;
}

.pre-reg-card-container ul li {
    margin: 5px 0px;
    font-weight: normal;
}

.pre-reg-card-list-item-label {
    margin-top: 5px;
    font-weight: bold;
}

.pre-reg-card-name {
    font-size: 1.5em!important;
    font-weight: bold;
}