.hackerContainer{
    width: 25em;
    background-color:  rgba(206, 188, 143, 0.4);
    height: 100%;
    border: solid black 2px;
    border-radius: 10px;
    padding-left: 15px;
    padding-bottom: 15px;
    box-shadow: 2px 2px grey;
    margin: 15px;
}

.hackerContainer p{
    font-size: 20px;
}

.hackerContainer button {
    border: none;
    outline-style: none;
    border-radius: 30px;
    padding: 10px;
    color: black;
    font-weight: 900;
    background-color: rgba(0, 0, 0, 0.5) !important;
    font-size: 18px;
    margin-top: 5%;
}


.hackerContainer .acceptBtn {
    margin-left: 5%;
}

