.statisticContainer{
    text-align: center;
    margin:30px;
    width: 12em;
    /* background-color: grey; */
}

.statisticContainer p {
    font-size: 30px;
}

@media only screen and (min-width: 640px){
    .statisticContainer h2 {
        font-size: 30px;
    }
    .statisticContainer p {
        font-size: 40px;
    }
}